*{
    padding: 0%;
    margin: 0%;
    background-color: #25252A;
}

h1{
    text-align: center;
    color: white;
}

.line{
    width: 70%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    background-color: #00ff00;
}

.Oferta{
    width: 60%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.produkt{
    display: inline-block;
    font-weight: 32%;
}

.produkt img{
    width: 300px;
}

.produkt figure{
    margin: 10px;
}

footer{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 2rem;
    border: 5px solid black;
}